USE [master]
GO
/****** Object:  Database [equiplink]    Script Date: 12/02/47 10:23:57 م ******/
CREATE DATABASE [equiplink]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'equiplink', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\equiplink.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'equiplink_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\equiplink_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [equiplink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [equiplink]
GO
/****** Object:  Table [dbo].[address]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[Add_ID] [int] IDENTITY(1,1) NOT NULL,
	[Add_Street] [nvarchar](255) NOT NULL,
	[Add_City] [nvarchar](100) NOT NULL,
	[Add_Postal_Code] [nvarchar](20) NULL,
	[Add_Country] [nvarchar](100) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Add_IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[Add_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[Categ_ID] [int] IDENTITY(1,1) NOT NULL,
	[Categ_Type] [nvarchar](100) NOT NULL,
	[Categ_Description] [nvarchar](500) NULL,
	[Categ_IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[Categ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_category_Categ_Type] UNIQUE NONCLUSTERED 
(
	[Categ_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[Co_ID] [int] IDENTITY(1,1) NOT NULL,
	[Co_Name] [nvarchar](255) NOT NULL,
	[Co_Email] [nvarchar](255) NULL,
	[Co_Phone] [nvarchar](50) NULL,
	[Co_TaxNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[Co_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery](
	[Deliver_ID] [int] IDENTITY(1,1) NOT NULL,
	[Deliver_Date] [datetime] NOT NULL,
	[Deliver_Status] [nvarchar](50) NULL,
	[Deliver_Fee] [decimal](10, 2) NULL,
	[Deliver_At] [nvarchar](255) NULL,
	[Deliver_Note] [nvarchar](max) NULL,
	[Deliver_Provider_Name] [nvarchar](255) NULL,
	[Add_ID] [int] NOT NULL,
	[Ord_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Deliver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[Equ_ID] [int] IDENTITY(1,1) NOT NULL,
	[Equ_Name] [nvarchar](100) NOT NULL,
	[Equ_Description] [nvarchar](max) NULL,
	[Equ_Condition] [nvarchar](50) NOT NULL,
	[Equ_Availability_Status] [nvarchar](50) NOT NULL,
	[Equ_Price] [decimal](10, 2) NOT NULL,
	[Equ_Image] [nvarchar](500) NULL,
	[Equ_CreatedDate] [datetime] NULL,
	[Equ_IsActive] [bit] NOT NULL,
	[Categ_ID] [int] NOT NULL,
	[Provider_ID] [int] NOT NULL,
	[Equ_Type] [nvarchar](50) NOT NULL,
	[Equ_Model] [nvarchar](100) NULL,
	[Equ_ModelYear] [int] NULL,
	[Equ_Brand] [nvarchar](100) NULL,
	[Equ_WorkingHours] [int] NULL,
	[Equ_Features] [varchar](max) NULL,
	[Equ_SerialNumber] [varchar](100) NULL,
 CONSTRAINT [PK_equipment] PRIMARY KEY CLUSTERED 
(
	[Equ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[Inv_ID] [int] IDENTITY(1,1) NOT NULL,
	[Inv_Date] [date] NOT NULL,
	[Inv_AmountPaid] [decimal](10, 2) NOT NULL,
	[Pay_ID] [int] NOT NULL,
	[Inv_InstallationOperation] [bit] NOT NULL,
 CONSTRAINT [PK_invoice] PRIMARY KEY CLUSTERED 
(
	[Inv_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance](
	[Main_ID] [int] IDENTITY(1,1) NOT NULL,
	[Main_Reg_Date] [date] NOT NULL,
	[Main_Description] [nvarchar](max) NOT NULL,
	[Main_Amount] [decimal](10, 2) NULL,
	[Main_Status] [nvarchar](50) NULL,
	[Main_CompletedDate] [date] NULL,
	[Ord_ID] [int] NOT NULL,
	[Operator_ID] [int] NULL,
 CONSTRAINT [PK_maintenance] PRIMARY KEY CLUSTERED 
(
	[Main_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[Ord_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ord_Total_Price] [decimal](10, 2) NOT NULL,
	[Ord_Status] [nvarchar](50) NOT NULL,
	[Ord_CreatedDate] [datetime] NULL,
	[Customer_ID] [int] NOT NULL,
	[Provider_ID] [int] NOT NULL,
	[Ord_InstallationOperation] [smallint] NULL,
	[Ord_Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[Ord_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderequipment]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderequipment](
	[OrdEq_ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdEq_UnitPrice] [decimal](10, 2) NOT NULL,
	[OrdEq_SubTotal] [decimal](10, 2) NOT NULL,
	[OrdEq_Start_Date] [date] NULL,
	[OrdEq_End_Date] [date] NULL,
	[Ord_ID] [int] NOT NULL,
	[Equ_ID] [int] NOT NULL,
	[OrdEq_InsuranceFee] [decimal](10, 2) NULL,
	[OrdEq_InsuranceStatus] [nvarchar](20) NULL,
 CONSTRAINT [PK_orderequipment] PRIMARY KEY CLUSTERED 
(
	[OrdEq_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[Pay_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pay_Method] [nvarchar](50) NOT NULL,
	[Pay_Date] [datetime] NOT NULL,
	[Pay_Status] [nvarchar](50) NOT NULL,
	[Pay_Amount] [decimal](10, 2) NOT NULL,
	[Pay_TransactionID] [nvarchar](100) NULL,
	[Ord_ID] [int] NOT NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[Pay_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request](
	[Req_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Equ_ID] [int] NOT NULL,
	[Req_Description] [nvarchar](max) NOT NULL,
	[Req_Date] [date] NOT NULL,
	[Req_Approval_Status] [nvarchar](50) NOT NULL,
	[Req_AdminNotes] [nvarchar](max) NULL,
	[Req_InsurancePerDay] [decimal](10, 2) NULL,
 CONSTRAINT [PK_request] PRIMARY KEY CLUSTERED 
(
	[Req_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[Rev_ID] [int] IDENTITY(1,1) NOT NULL,
	[Rev_Rating_Value] [int] NOT NULL,
	[Rev_Comment] [nvarchar](max) NULL,
	[Rev_Date] [date] NOT NULL,
	[Rev_IsVerified] [bit] NOT NULL,
	[Ord_ID] [int] NULL,
	[Customer_ID] [int] NOT NULL,
	[Provider_ID] [int] NOT NULL,
	[Equ_ID] [int] NULL,
 CONSTRAINT [PK_review] PRIMARY KEY CLUSTERED 
(
	[Rev_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 12/02/47 10:23:58 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_FName] [nvarchar](100) NOT NULL,
	[User_LName] [nvarchar](100) NOT NULL,
	[User_Email] [nvarchar](255) NOT NULL,
	[User_Phone] [nvarchar](50) NULL,
	[User_Password] [nvarchar](255) NOT NULL,
	[User_Type] [nvarchar](50) NOT NULL,
	[User_IsActive] [bit] NOT NULL,
	[User_CreatedDate] [datetime] NULL,
	[User_LastLoginDate] [datetime] NULL,
	[User_National_ID] [varchar](20) NULL,
	[Co_ID] [int] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_user_User_Email] UNIQUE NONCLUSTERED 
(
	[User_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_address_User]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_address_User] ON [dbo].[address]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_equipment_Category]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_equipment_Category] ON [dbo].[equipment]
(
	[Categ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_equipment_Provider]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_equipment_Provider] ON [dbo].[equipment]
(
	[Provider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoice_Pay_ID]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_invoice_Pay_ID] ON [dbo].[invoice]
(
	[Pay_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maintenance_Ord_ID]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_maintenance_Ord_ID] ON [dbo].[maintenance]
(
	[Ord_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_Customer]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_order_Customer] ON [dbo].[order]
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_Provider]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_order_Provider] ON [dbo].[order]
(
	[Provider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orderequipment_Dates]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_orderequipment_Dates] ON [dbo].[orderequipment]
(
	[OrdEq_Start_Date] ASC,
	[OrdEq_End_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orderequipment_Equipment]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_orderequipment_Equipment] ON [dbo].[orderequipment]
(
	[Equ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orderequipment_Order]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_orderequipment_Order] ON [dbo].[orderequipment]
(
	[Ord_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_Order]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_Order] ON [dbo].[payment]
(
	[Ord_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_request_Equ_ID]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_request_Equ_ID] ON [dbo].[request]
(
	[Equ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_request_User_ID]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_request_User_ID] ON [dbo].[request]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_review_Customer_ID]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_review_Customer_ID] ON [dbo].[review]
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_review_Order]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_review_Order] ON [dbo].[review]
(
	[Ord_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_review_Provider_ID]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_review_Provider_ID] ON [dbo].[review]
(
	[Provider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user_User_Email]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_user_User_Email] ON [dbo].[user]
(
	[User_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user_User_Type]    Script Date: 12/02/47 10:23:58 م ******/
CREATE NONCLUSTERED INDEX [IX_user_User_Type] ON [dbo].[user]
(
	[User_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[address] ADD  CONSTRAINT [DF__address__Add_Cou__6A30C649]  DEFAULT ('saudi arabia') FOR [Add_Country]
GO
ALTER TABLE [dbo].[address] ADD  DEFAULT ((1)) FOR [Add_IsDefault]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((1)) FOR [Categ_IsActive]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT ('Available') FOR [Equ_Availability_Status]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT (getdate()) FOR [Equ_CreatedDate]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT ((1)) FOR [Equ_IsActive]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT ('rent') FOR [Equ_Type]
GO
ALTER TABLE [dbo].[invoice] ADD  DEFAULT ((0)) FOR [Inv_InstallationOperation]
GO
ALTER TABLE [dbo].[maintenance] ADD  DEFAULT ('Scheduled') FOR [Main_Status]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('Pending') FOR [Ord_Status]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [Ord_CreatedDate]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Ord_InstallationOperation]  DEFAULT ((0)) FOR [Ord_InstallationOperation]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (getdate()) FOR [Pay_Date]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT ('Pending') FOR [Pay_Status]
GO
ALTER TABLE [dbo].[request] ADD  DEFAULT ('Pending') FOR [Req_Approval_Status]
GO
ALTER TABLE [dbo].[review] ADD  DEFAULT ((0)) FOR [Rev_IsVerified]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((1)) FOR [User_IsActive]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [User_CreatedDate]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD  CONSTRAINT [FK_address_user] FOREIGN KEY([User_ID])
REFERENCES [dbo].[user] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK_address_user]
GO
ALTER TABLE [dbo].[delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Address] FOREIGN KEY([Add_ID])
REFERENCES [dbo].[address] ([Add_ID])
GO
ALTER TABLE [dbo].[delivery] CHECK CONSTRAINT [FK_Delivery_Address]
GO
ALTER TABLE [dbo].[delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Order] FOREIGN KEY([Ord_ID])
REFERENCES [dbo].[order] ([Ord_ID])
GO
ALTER TABLE [dbo].[delivery] CHECK CONSTRAINT [FK_Delivery_Order]
GO
ALTER TABLE [dbo].[equipment]  WITH CHECK ADD  CONSTRAINT [FK_equipment_category] FOREIGN KEY([Categ_ID])
REFERENCES [dbo].[category] ([Categ_ID])
GO
ALTER TABLE [dbo].[equipment] CHECK CONSTRAINT [FK_equipment_category]
GO
ALTER TABLE [dbo].[equipment]  WITH CHECK ADD  CONSTRAINT [FK_equipment_provider] FOREIGN KEY([Provider_ID])
REFERENCES [dbo].[user] ([User_ID])
GO
ALTER TABLE [dbo].[equipment] CHECK CONSTRAINT [FK_equipment_provider]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FK_invoice_payment] FOREIGN KEY([Pay_ID])
REFERENCES [dbo].[payment] ([Pay_ID])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FK_invoice_payment]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_maintenance] FOREIGN KEY([Main_ID])
REFERENCES [dbo].[maintenance] ([Main_ID])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_maintenance]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_order] FOREIGN KEY([Ord_ID])
REFERENCES [dbo].[order] ([Ord_ID])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_order]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[user] ([User_ID])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_customer]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_provider] FOREIGN KEY([Provider_ID])
REFERENCES [dbo].[user] ([User_ID])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_provider]
GO
ALTER TABLE [dbo].[orderequipment]  WITH CHECK ADD  CONSTRAINT [FK_orderequipment_equipment] FOREIGN KEY([Equ_ID])
REFERENCES [dbo].[equipment] ([Equ_ID])
GO
ALTER TABLE [dbo].[orderequipment] CHECK CONSTRAINT [FK_orderequipment_equipment]
GO
ALTER TABLE [dbo].[orderequipment]  WITH CHECK ADD  CONSTRAINT [FK_orderequipment_order] FOREIGN KEY([Ord_ID])
REFERENCES [dbo].[order] ([Ord_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orderequipment] CHECK CONSTRAINT [FK_orderequipment_order]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_order] FOREIGN KEY([Ord_ID])
REFERENCES [dbo].[order] ([Ord_ID])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_order]
GO
ALTER TABLE [dbo].[request]  WITH CHECK ADD  CONSTRAINT [FK_request_equipment] FOREIGN KEY([Equ_ID])
REFERENCES [dbo].[equipment] ([Equ_ID])
GO
ALTER TABLE [dbo].[request] CHECK CONSTRAINT [FK_request_equipment]
GO
ALTER TABLE [dbo].[request]  WITH CHECK ADD  CONSTRAINT [FK_request_user] FOREIGN KEY([User_ID])
REFERENCES [dbo].[user] ([User_ID])
GO
ALTER TABLE [dbo].[request] CHECK CONSTRAINT [FK_request_user]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[user] ([User_ID])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_customer]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Equipment] FOREIGN KEY([Equ_ID])
REFERENCES [dbo].[equipment] ([Equ_ID])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_Review_Equipment]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_order] FOREIGN KEY([Ord_ID])
REFERENCES [dbo].[order] ([Ord_ID])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_order]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_provider] FOREIGN KEY([Provider_ID])
REFERENCES [dbo].[user] ([User_ID])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_provider]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_company] FOREIGN KEY([Co_ID])
REFERENCES [dbo].[company] ([Co_ID])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_company]
GO
ALTER TABLE [dbo].[equipment]  WITH CHECK ADD CHECK  (([Equ_Availability_Status]='Unavailable' OR [Equ_Availability_Status]='Maintenance' OR [Equ_Availability_Status]='Rented' OR [Equ_Availability_Status]='Available'))
GO
ALTER TABLE [dbo].[equipment]  WITH CHECK ADD CHECK  (([Equ_Condition]='Poor' OR [Equ_Condition]='Fair' OR [Equ_Condition]='Good' OR [Equ_Condition]='New'))
GO
ALTER TABLE [dbo].[equipment]  WITH CHECK ADD CHECK  (([Equ_Type]='buy' OR [Equ_Type]='rent'))
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD CHECK  (([Main_Status]='Completed' OR [Main_Status]='In Progress' OR [Main_Status]='Scheduled'))
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD CHECK  (([Ord_Status]='Cancelled' OR [Ord_Status]='Delivered' OR [Ord_Status]='Shipped' OR [Ord_Status]='Processing' OR [Ord_Status]='Pending'))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD CHECK  (([Pay_Method]='Online Payment' OR [Pay_Method]='Bank Transfer' OR [Pay_Method]='Credit Card' OR [Pay_Method]='Cash'))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD CHECK  (([Pay_Status]='Refunded' OR [Pay_Status]='Failed' OR [Pay_Status]='Completed' OR [Pay_Status]='Pending'))
GO
ALTER TABLE [dbo].[request]  WITH CHECK ADD CHECK  (([Req_Approval_Status]='Rejected' OR [Req_Approval_Status]='Approved' OR [Req_Approval_Status]='Pending'))
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [CK_user_User_Type] CHECK  (([User_Type]='Operator' OR [User_Type]='Provider' OR [User_Type]='Customer' OR [User_Type]='Admin'))
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [CK_user_User_Type]
GO
USE [master]
GO
